// ----------------------
// Settings
// ----------------------


// Colors
// -----------------------------
$color-white: #fff;

$main-background-color: #f8f8f8;
$header-background-color: $color-white;
$footer-background-color: $color-white;

$color-base: #444A59;
$color-base-light: #d9d9d9;
$color-base-lighter: #808080;

$color-red: #F54B5E;

$color-blue: #358ED7;

// Fonts
$font: "Lato", Helvetica, Arial, sans-serif;
$font-size-base: 13px;

// link
$color-button: $color-base-light;
$color-button-hover: $color-base;
