@font-face {
    font-family: "Lato";
    src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    src: url("../font/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url("../font/Lato/Lato-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url("../font/Lato/Lato-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
