.icon {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}
